.bh-offers-view {

  //background-color: #DBDBDB;

  span.icon {
    color: #E040FB;
  }

  .bh-no-offers {
    p {
      font-size: large;
    }

    span.icon {
      font-size: 50vh;
    }
  }
}


